#app{
	max-width: 100vw;
	min-height: 100vh;
	position: relative;
	background-color: #ffffff;
	display: flex;
	align-content: center;
	justify-content: center;
	align-items: center;
}
.main{
	width: 375px;
	position: relative;
	padding: 48px 0;
	box-sizing: border-box;
}
header{
	width: 100%;
	text-align: center;
	font-size: 40pt;
	font-weight: 800;
	letter-spacing: 10px;
	position: relative;
	float: left;
}
header img{
	max-width: 280px;
	box-sizing: border-box;
}
.scale-box{
	width: 100%;
	position: relative;
	float: left;
}
.scale-box a{
	display: block;
	float: left;
	cursor: pointer;
	text-align: center;
	font-size: 24px;
	color: var(--second-color);
	padding: 8px 14px;
	background-color: #f6f6f6;
	border-radius: var(--border-radius);
	margin-right: 16px;
	border: 1px solid #ffffff;
	box-sizing: border-box;
	transition-property: border,background-color,color;
	transition-duration: 1s,1s,1s;
}
.scale-box a:last-child{
	margin-right: 0;
}
.scale-box a:hover{
	color: var(--main-color);
	border: 1px solid var(--main-color);
}
.scale-box a.scale-sel{
	background-color: var(--main-color);
	color: #ffffff;
}
.inp-box{
	width: 100%;
	position: relative;
	float: left;
}
.inp-write{
	width: calc(50% - 8px);
	position: relative;
	float: left;
	box-sizing: border-box;
	margin-left: 8px;
}
.inp-write:first-child{
	margin-left: 0;
	margin-right: 8px;
}
#w-num,#h-num{
	cursor: copy;
}
.inp-name{
	color: var(--second-color);
}
.inp-write .icon{
	width: 20px;
	height: 20px;
	margin-left: 4px;
}
.inp-text{
	width: 100%;
	font-size: 36pt;
	font-weight: 700;
	border-bottom: 1px solid #d8d8d8;
}
.pic{
	width: 100%;
	height: 211px;
	position: relative;
	float: left;
	background-image: url(../img/pic.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
footer{
	width: 100%;
	position: relative;
	float: left;
	font-size: 12px;
	color: var(--second-color);
	display: flex;
	justify-content: space-between;
}
.text-link{
	cursor: pointer;
	color: var(--second-color);
}
.text-link:hover{
	color: var(--main-color);
}
.pv-num{
	width: 100%;
	float: left;
	text-align: center;
	font-size: 12px;
	color: var(--second-color);
	margin-top: 24px;
}
.pop-box{
	width: 100vw;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.2);
	z-index: 10;
}
.about-box,.like-box{
	width: 375px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-44%);
	padding: 40px 24px;
	box-sizing: border-box;
	background-color: #ffffff;
	border-radius: var(--border-radius);
	font-size: 14px;
	z-index: 999;
	overflow: hidden;
}
.like-box{
	height: 330px;
}
p{
	margin-bottom: 24px;
	line-height: 1.5;
	float: left;
}
.git-link{
	font-weight: 700;
	cursor: pointer;
	color: blue;
}
.git-link:hover{
	text-decoration: underline;
}
.about-img-box,.like-img-box{
	width: 100%;
	position: relative;
	float: left;
	margin-top: 16px;
	margin-bottom: 24px;
	display: flex;
	justify-content: center;
}
.like-img-box{
	margin-top: 0;
	margin-bottom: 0;
}
.about-img{
	width: 50%;
	position: relative;
	float: left;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.about-img label{
	margin-top: 16px;
	font-size: 12px;
	font-weight: bold;
}
.message{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: #ffffff;
	font-size: 14px;
	border-radius: var(--border-radius);
	padding: 8px 16px;
	background-color: rgba(0,0,0,0.7);
}

@media screen and (max-width:375px){
	.main{
		width: 100%;
	}
	header img{
		width: 100%;
		padding: 0 16px;
	}
	.scale-box,.inp-box,footer{
		padding-left: 16px;
		padding-right: 16px;
		box-sizing: border-box;
	}
	.scale-box a{
		width: calc(50% - 8px);
		margin-top: 16px;
		margin-right: 8px;
	}
	.scale-box a:nth-child(1),.scale-box a:nth-child(2){
		margin-top: 0;
	}
	.scale-box a:nth-child(2),.scale-box a:nth-child(4){
		margin-left: 8px;
		margin-right: 0;
	}
}